<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Applicatie_Risicoanalyse.Properties.Settings.LG_Analysis_DatabaseConnectionString" connectionString="Data Source=DESKTOP-URLHABG\SQLEXPRESS;Initial Catalog=LG_Analysis_Database;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Applicatie_Risicoanalyse.Properties.Settings.LG_Analysis_DatabaseConnectionString1" connectionString="Data Source=WS-024\SQLEXPRESS;Initial Catalog=LG_Analysis_Database;User ID=sa;Password=Wachtwoord@1" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>