<acl>
	<acl groupname="Default">
		<right name="General.ButtonCreateProject"  			access="none"/>
		<right name="General.ButtonOpenProject" 			access="none"/>
		<right name="General.ButtonRecentProjects" 			access="none"/>
		<right name="General.ButtonCreateProjectRevision"	access="none"/>
		<right name="General.ButtonEditStandardRisks" 		access="none"/>
		<right name="General.ButtonAddRiskToProject" 		access="none"/>
		<right name="General.ButtonEditProjectDetails" 		access="none"/>
		<right name="General.ButtonOpenRisk" 				access="none"/>
		<right name="General.ButtonEditRiskStandard"		access="none"/>
		<right name="General.ButtonCreateNewRisk"			access="none"/>
	</acl>	
	<acl groupname="Admin">	
		<right name="General.ButtonCreateProject"  			access="all"/>
		<right name="General.ButtonOpenProject" 			access="all"/>
		<right name="General.ButtonRecentProjects" 			access="all"/>
		<right name="General.ButtonCreateProjectRevision" 	access="all"/>
		<right name="General.ButtonEditStandardRisks" 		access="all"/>
		<right name="General.ButtonAddRiskToProject" 		access="all"/>
		<right name="General.ButtonEditProjectDetails" 		access="all"/>
		<right name="General.ButtonOpenRisk" 				access="all"/>
		<right name="General.ButtonEditRiskStandard"		access="all"/>
		<right name="General.ButtonCreateNewRisk"			access="all"/>
	</acl>	
	<acl groupname="Engineer">	
		<right name="General.ButtonCreateProject"  			access="readonly"/>
		<right name="General.ButtonOpenProject" 			access="all"/>
		<right name="General.ButtonRecentProjects" 			access="readonly"/>
		<right name="General.ButtonCreateProjectRevision" 	access="readonly"/>
		<right name="General.ButtonAddRiskToProject" 		access="all"/>
	</acl>
</acl>